*{margin: 0px; padding: 0px;}

#parent{position:relative} 

.background1{background:#362B20;width: 480px; height: 600px; 
 position: absolute;top: 180px; left:270px;border-radius:1%;z-index:19;opacity:0.8}

.background2{background:#31313A;width: 480px; height: 600px; 
 position: absolute;top: 200px; left:290px;border-radius:1%;opacity:1;z-index:20} 

.cover-image{width:480px;height:290px;border-radius:1%;}

.bio{width:150px;height:150px;border-radius:50%;
position: absolute; top: 185px; left: 165px;z-index:22}

.bio-border{background:#644B2C;width:165px;height:165px;
position: absolute;top: 177px; left:158px;border-radius:50%;}

.triangle1 {border-left: 160px solid rgba(49,49,58,1);
    border-top:40px solid transparent;height: 0px;width: 0px;
    Position: absolute; left: 0px; top: 250px;z-index:22;}

.triangle2 {border-right: 167px solid rgba(49,49,58,1);
    border-top:20px solid transparent;height: 0px;width: 0px;
    Position: absolute; right: 0px; top: 270px;z-index:22;}

.name{color: #ffffff; font-size:25px;text-align: center;position: absolute; top:360px; width:100%;}
.title {color: #DE7920; font-size:18px;text-align: center;position: absolute; top:390px; width:100%;}
.nav {color: #ffffff; font-size:11px;text-align: center;}
.nav-back {color: #DE7920; font-size:11px;text-align: center;opacity:0;transition: all 0.1s ease;}
.nav-back:hover{opacity:1;cursor: pointer;}

.linkedin{border-radius:1%;position: absolute; left:231px; top:430px;}
.back {position: absolute; left:0; top:0;opacity:0;transition: all 0.1s ease;}
.back:hover{opacity:1;cursor: pointer;}

.horizontal {height: 1px; border: none; z-index:18;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, grey));}

.contact {text-decoration:none;color:#fff;cursor:pointer;position: absolute; top:560px; left:100px;}

.content {position: absolute; left:765px; top:225px;z-index:19;border-radius:1%;
 background:#31313A;opacity:1;height:560px;width:600px;}


.tabx{background:#31313A;width: 72px; height: 220px; 
 position: absolute;top: 222px; left:210px;z-index:16;border-radius:2%;z-index:21;} 


[data-tab-content] {display:none;}
.active[data-tab-content] {display: block;}
.tabs{display: flex;list-style-type: none;margin: 0;padding:20;border-bottom: 0px solid black;}
.tab {cursor: pointer;padding: 15px;} 








.area{background: #1A1A1F;width: 0%;height:100vh;z-index:9;}

.circles{position: absolute;top: 0;left: 0;width: 100%;height: 100%;overflow: hidden;z-indez:9;}

.circles li{position: absolute;display: block;list-style: none;width: 20px;height: 20px;background:#2E2E36;animation: animate 25s linear infinite;bottom: -300px;}

.circles li:nth-child(1){
    left: 25%;
    width: 300px;
    height: 300px;
    animation-delay: 4s;}


.circles li:nth-child(2){
    left: 10%;
    width: 90px;
    height: 90px;
    animation-delay: 2s;
    animation-duration: 12s;}

.circles li:nth-child(3){
    left: 70%;
    width: 180px;
    height: 180px;
    animation-delay: 4s;}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;}

.circles li:nth-child(5){
    left: 65%;
    width: 140px;
    height: 140px;
    animation-delay: 0s;}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;}

.circles li:nth-child(9){
    left: 20%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 35s;}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.2;
        border-radius: 0;}

    100%{
        transform: translateY(-1300px) rotate(180deg);
        opacity: 0.2;
        border-radius: 0%;}}